node_modules
dist
.coverage
coverage
.cache
*.log
.DS_Store
.env
.env.local
.scratch
dist
helm/*.values.yaml
helm/*.values.yml
helm/*-values.yaml
helm/*-values.yml
helm/values-*.yaml
helm/values-*.yml
*.secret.yaml
*.secret.yml
*.pem
*.key
*.crt
*.cert